* {
   font-size: $font-size;
   font-family: $font-name;
}

@function is-light($color) {
   $brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) /
      1000;
   @return $brightness > 128;
}
