window#bar {
   all: unset;
   background: $bg0;
   color: $fg0;

   tooltip {
      background: $bg0;
      border: $border-width solid $border-color;
      border-radius: $widget-radius;
   }

   @if $bar-position == "top" {
      border-bottom: $border-width solid $border-color;
   }

   @if $bar-position == "bottom" {
      border-top: $border-width solid $border-color;
   }

   .modules-start {
      .first-child {
         padding-left: 6px;
      }
   }

   .modules-end {
      .last-child {
         padding-right: 6px;
      }
   }

   .bar-item {
      background: transparent;
      font-weight: normal;
      padding: 6px 0;

      .content {
         border-radius: $widget-radius;
         padding: 0 10px;
      }

      &:hover {
         .content {
            background: $bg1;
            transition: $transition-background;
         }
      }

      &.active {
         .content {
            background: $bg2;
            transition: $transition-background;
         }
      }
   }

   .workspace {
      padding: 0 6px;
   }

   @keyframes blink {
      to {
         background: $red1;
      }
   }

   .record-indicator {
      background: $fg0;
      min-height: 15px;
      min-width: 15px;
      border-radius: 99px;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: steps(12);
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }

   .tray {
      .menu {
         &.menu > contents {
            background: $bg0;
            margin-top: 5px;
            border: $border-width solid $bg1;
            box-shadow: none;
         }

         &.menu > arrow {
            all: unset;
         }
      }

      .items {
         padding: 6px 0;
         button {
            background: transparent;

            &:hover {
               background: $bg1;
            }
         }
      }
   }

   .taskbar-button {
      background: transparent;
      padding: 0 15px;

      &.focused {
         .indicator {
            transition: $transition-background;
            background: $accent1;
         }
      }

      .indicator {
         border-radius: $widget-radius;
         min-width: 4px;
         min-height: 4px;
         background: $bg3;
         transition: min-width 0.3s ease-in-out;
      }
   }
}
