window#launcher {
   all: unset;
   color: $fg0;

   .launcher-main {
      background: $bg0;
      border: 1px solid $border-color;
      padding: $widget-main-padding;
      border-radius: $widget-main-radius;
   }

   .clear {
      background: $bg1;
      min-width: 50px;
      padding: 0;
      min-height: 50px;

      &:hover {
         transition: background 0.3s;
         color: $red1;
      }

      &:focus {
         transition: 0s;
         outline-offset: -$outline-width;
         outline: $outline-width solid $outline-color;
      }
   }

   .launcher-button {
      min-height: 50px;
      padding: 0 10px;
      border-radius: $widget-radius;
      background: transparent;
      transition: 0s;

      &:hover {
         transition: background 0.3s;
         background: $bg1;
      }

      &:focus {
         transition: 0s;
         outline-offset: -$outline-width;
         outline: $outline-width solid $outline-color;
      }

      .name,
      .id {
         font-weight: normal;
      }
   }

   .header {
      background: $bg1;
      border-radius: $widget-radius;
      padding: 0 10px 0 10px;
      color: $fg1;

      entry {
         min-height: 50px;
         outline: none;
         background: none;
         box-shadow: none;
      }
   }
}
