window#notifications_popup {
   all: unset;
   min-height: 420px;
}

.notification {
   background: $bg1;
   padding: $widget-main-padding;
   border-radius: $widget-radius;
   min-width: 400px;

   &.critical {
      color: $red1;
   }

   .header {
      .time {
      }

      .close {
         outline: none;

         &:focus {
            transition: 0s;
            outline-offset: -$outline-width;
            outline: $outline-width solid $outline-color;
         }
      }

      button {
         border-radius: $widget-radius;
         padding: 0 4px;
         background-color: $bg2;

         &:hover {
            color: $red1;
         }
      }
   }

   .content {
      .body {
         font-style: normal;
         font-weight: normal;
      }

      .image {
         border-radius: $widget-radius;
         min-width: 90px;
         min-height: 90px;
      }
   }

   .actions button {
      border-radius: $widget-radius;
      font-weight: normal;
      background-color: $bg2;

      &:hover {
         background: $bg3;
      }
   }
}
