window#osd {
   all: unset;
   color: $fg0;

   .osd-main {
      // padding: $widget-main-padding;
      // background: $bg0;
      // border: 1px solid $border-color;
      border-radius: $widget-main-radius;
   }

   .osd-icon {
      color: if(is-light($accent1), $bg0, $fg0);
      padding-left: 10px;
      &.low {
         color: $fg0;
      }
   }

   levelbar {
      trough {
         .filled {
            border-radius: $widget-radius;
            background: $accent1;
         }
      }

      block {
         background: $bg1;
         border-radius: $widget-radius;
         min-height: 56px;
      }
   }
}
